config OEM_DEBUG_SUPPORT
        bool "OEM debug support"
        default n

config OEM_TRACE_SUPPORT
	depends on OEM_DEBUG_SUPPORT
	bool "OEM debug function, enable it will register the device, which under /dev/otracer."
	default y
